

NODE_ENV=
PORT=

# MAIN_DATABASE_URL="mysql://root:password@localhost:3306/renova_main_db"
# ECOMMERCE_DATABASE_URL="mysql://root:password@localhost:3306/renova_ecommerce_db"
# APPOINTMENT_DATABASE_URL="mysql://root:password@localhost:3306/renova_appointment_db"



MAIN_DATABASE_URL=
ECOMMERCE_DATABASE_URL=
APPOINTMENT_DATABASE_URL=


JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=


BCRYPT_SALT_ROUNDS=